<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection System</title>
</head>
<body>

    <h2>Transaction Checker</h2>

    <input type="number" id="amount" placeholder="Amount"><br><br>
    <input type="number" id="time" placeholder="Time"><br><br>
    <input type="text" id="location" placeholder="Location"><br><br>

    <button onclick="checkFraud()">Check</button>

    <h3 id="result"></h3>

    <script>
        function checkFraud() {
            const amount = document.getElementById("amount").value;
            const time = document.getElementById("time").value;
            const location = document.getElementById("location").value;

            fetch('/check_transaction', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    amount: amount,
                    time: time,
                    location: location
                })
            })
            .then(res => res.json())
            .then(data => {
                document.getElementById("result").innerText = data.result;
            });
        }
    </script>

</body>
</html>